.Model {
    background-color:  #def7f5;
    border-radius: 5px;
    padding: 10px 0;
    border: 2px solid #966F33;
    margin: 10px 20px;
    text-align: center;
    cursor: pointer;
    transition: transform 1s;
    padding: 10px;
}
.Model:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.1);
}
.Model h3 {
    text-align: center;
    color:black;
}
.Model h2 {
    text-align: center;
    color: black;
}

.Title {
    border-bottom: 3px solid #966F33
}



@media (max-width:500px) {
    .Model {
      width: 340px;
    }
}