.Home {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: black;
}

.Image {
    width: 50%;
}

.Image img {
    width: 100%;
    margin: 15px;
    height: 224px;
}
.Card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Card h1{
    text-align: center;
    flex-flow: column;
    color: black;
}

.Card h3 {
    text-align: center;
    color: black;
}
.Title {
    color: black;
    text-align: center;
}
.buttons {
    width: 100%;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
 
}
.buttons button {
    cursor: pointer;    
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    transition: background-color .3s;
}
.buttons button:hover {

    background-color: black;
    color: white;

}
.Confirm {
    background-color: white;    
}
.Cancel {
    background-color:black;
    color: white;
}

.Full {
    width: 100%;
}
@media only screen and (min-device-width : 375px) and (max-device-width : 667px){
    .Image img {
        width: 100%;
        margin: 15px;
        height: 124px;
    }
}