.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    flex-flow: row;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;

}


@media (max-width:500px) {
 .NavigationItems {
     flex-flow: column;
 }
}

.Link {
  
    text-decoration: none;
    color: white;
}

.Link:hover {
    color: black;
}