.Models {
    width: 100%;
}

.Cards {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    align-content: center;
}

.Important {
    color:#3B32B3;
    text-align: center;
}

