.Models {
    width: 100%;
    margin-bottom: 15px;
}

.Cards {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    align-content: center;
}

.Important {
    color:black;
    text-align: center;
}

@media (max-width:500px) {
    .Models {
        width: 100%;
    }
    .Cards{
        display: block;
        margin-top: 20%;
    }
}