.Software {
    background-color:  #def7f5;
    border-radius: 5px;
    padding: 10px 0;
    border: 2px solid #966F33;
    margin: 10px 0;
    text-align: center;
    cursor: pointer;
    margin: 5px;
}
.Software h1{
    text-align: center;
}
.Software ul{
    padding: 0;
}
.img img {
    width: 150px;
}
.PreInstalled {
    list-style: none;
    color: black;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    flex-basis: auto;
    align-content: space-between;
    margin:2%;
    width: 100%;
}


@media (max-width:500px) {
    .Software {
        width: 90%;
        margin:20px;
    }
    .PreInstalled {
        flex-flow: column;
        display: none;
    }
}