.AddComments {
    display:flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    width: 50%;
    background-color : #b38edb;
    margin-bottom: 10px;
    border-radius: 5px;
}

.AddComments textarea{
    width: 80%;
    font-size: 15px;
}

.AddComments h5 {
    margin-top:20px;
    margin-bottom: 20px;
}

.AddComments input {
    width: 60%;
    height: 50px;
}

.AddComments textarea {
    height: 100px;
}

.Button {
    margin-top:25px;
    margin-bottom: 10px;
    display: block;
    width: 20%;
    cursor: pointer;
    background-color:#8696F8;
    height: 50px;
    font-size: 100%;
}

.Button:hover {
    background-color:#573FD9;
}

@media (max-width:500px) {
    .AddComments {
        display:flex;
        flex-flow: column;
        align-content: center;
        align-items: center;
        width: 90%;
        background-color : #b38edb;
        margin-bottom: 10px;
        border-radius: 5px;
    }
    
.Button {
    margin-top:25px;
    margin-bottom: 10px;
    display: block;
    width: 40%;
    cursor: pointer;
    background-color:#8696F8;
    height: 50px;
    font-size: 100%;
}
}