.AddComments {
    display:flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    width: 50%;
    background-color: rgba(9, 29, 56, 0.5);
    margin-bottom: 10px;
    border-radius: 5px;
    color: white;
}

.AddComments textarea{
    width: 80%;
    font-size: 15px;
}

.AddComments h5 {
    margin-top:20px;
    margin-bottom: 20px;
}

.AddComments input {
    width: 60%;
    height: 50px;
    background: transparent;
    text-align: center;
    font-size: 30px;
    color: #966F33;
}

.AddComments textarea {
    height: 100px;
}

.Button {
    margin-top:25px;
    margin-bottom: 10px;
    display: block;
    width: 20%;
    cursor: pointer;
    background-color:#966F33;
    height: 50px;
    font-size: 100%;
    color: white;
}

.Button:hover {
    background-color:#def7f5;
    color: black;
}

@media (max-width:500px) {
    .AddComments {
        display:flex;
        flex-flow: column;
        align-content: center;
        align-items: center;
        width: 90%;
        margin-bottom: 10px;
        border-radius: 5px;
    }
    
.Button {
    margin-top:25px;
    margin-bottom: 10px;
    display: block;
    width: 40%;
    cursor: pointer;
    height: 50px;
    font-size: 100%;
}
}