.NavigationItem{
    margin:10px 10px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
}

.NavigationItem a {
    color: #60DBC6;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NavigationItem:hover {
    color: #83F7EF;
    font-weight: bold;
    border-bottom: 2px solid #83F7EF;
}

.custom{
    margin:10px 10px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    cursor: pointer;
}

.custom a {
    color: #60DBC6;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.custom:hover {
    color: black;
}

@media (max-width:500px) {
    .NavigationItem {
        border-bottom: 1px solid white;
    }
}